.bills-datepicker-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5em;
}

.bills-datepicker-label {
  font-weight: 700;
  margin-bottom: 0.5em;
}

@media (max-width: 550px) {
  .bills-datepicker-label,
  .bills-datepicker-button {
    font-size: 0.85em !important;
    margin-right: 0 !important;
  }
}
