.login-card {
  width: 100% !important;
  padding: 1.5em !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.login-form {
  width: 500px !important;
}

.login-mobile-button {
  width: 90% !important;
}

.login-mobile-button__content {
  display: flex;
  justify-content: center;
}

.login-input {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.login-helper-text {
  color: darkblue;
  margin-bottom: 0.75em;
}

.login-helper-text:hover {
  cursor: pointer;
}
