.acts-datepicker-content {
  padding: 0 1em 0.2em 1em;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.acts-card-item-actions {
  display: flex;
  margin: 1em;
  justify-content: flex-end;
}

.acts-datepicker-label {
  font-weight: 700;
  margin-bottom: 0.5em;
}

.acts-datepicker-button {
  width: 100% !important;
}

.archive-acts-button {
  width: 10em !important;
}

@media (max-width: 550px) {
  .archive-acts-button {
    width: 50% !important;
  }
}
