.acts-datepicker-content {
  padding: 0 1em 1em;
}

.acts-datepicker-label {
  font-weight: 700;
  margin-bottom: 0.5em;
}

.acts-datepicker-button {
  width: 100% !important;
}

.archive-acts-button {
  width: 10em !important;
}

@media (max-width: 550px) {
  .archive-acts-button {
    width: 50% !important;
  }
}
