.page-wrapper {
  padding-top: 115px !important;
  padding-bottom: 100px !important;
}

@media (max-height: 450px) {
  .page-wrapper {
    padding-bottom: 0px !important;
  }
  .page-wrapper.login {
    padding-top: 10px !important;
  }
}
