.page-wrapper {
  padding-top: 110px !important;
  padding-bottom: 100px !important;
}

@media (max-height: 450px) {
  .page-wrapper {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
