.page-wrapper {
  max-width: 800px !important;
  padding-top: 125px !important;
  padding-bottom: 100px !important;
}

.page-wrapper.wrap-with-bottom-nav {
  padding-top: 185px !important;
}

@media (max-width: 550px) {
  .page-wrapper {
    padding-bottom: 65px !important;
  }
}

@media (max-height: 450px) {
  .page-wrapper {
    padding-bottom: 0px !important;
  }
  .page-wrapper.login {
    padding-top: 10px !important;
  }

  .page-wrapper.wrap-with-bottom-nav {
    padding-top: 100px !important;
  }
}
