.contragent-info-wrapper {
  margin-top: 10px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  max-height: 40px;
  overflow-y: auto;
}

.contragent-name {
  font-size: 1.2em !important;
}

@media (max-width: 550px) {
  /* .contragent-info-wrapper {
    font-size: 0.7em;
  } */

  .contragent-name {
    font-size: 1em !important;
  }
}
