.segment-no-border {
  border: 0 !important;
  box-shadow: none !important;
}

.no-padding {
  padding: 0 !important;
}

.max-width {
  max-width: 900px !important;
  margin: 0 auto !important;
}

.nav-header,
.footer {
  max-width: 1000px !important;
  margin: 0 auto !important;
}

.side-nav-icon {
  display: flex !important;
  align-items: center !important;
}

.no-radius {
  border-radius: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center-text {
  text-align: center !important;
}

@media (max-width: 550px) {
  .modal-header .content {
    font-size: 0.75em !important;
  }
  /* .button {
    margin: 0.25em 0 !important;
    width: 100% !important;
  } */
  /* .two-button-content {
    display: flex !important;
    flex-direction: column !important;
    margin: 100% !important;
  } */
}
