.dropdown-menu-custom {
  position: absolute !important;
  top: 15px !important;
  font-size: 1em !important;
  max-width: 70% !important;
  left: 25% !important;
  z-index: 500 !important;
  width: 10000px !important;
  text-align: left !important;
  text-transform: none !important;
  font-weight: 400 !important;
  border-radius: 0.28571429 !important;
}

.contragents-list {
  max-height: 70vh !important;
  overflow-y: auto;
}

.dropdown-custom-item {
  color: rgba(0, 0, 0, 0.87) !important;
  display: flex !important;
  align-items: center !important;
  padding: 0.78571429em 1.14285714em !important;
}

.dropdown-custom-item:hover {
  cursor: pointer !important;
  background-color: rgba(211, 211, 211, 0.384) !important;
}

@media (max-width: 550px) {
  .dropdown-menu-custom {
    max-width: 100% !important;
    left: 0 !important;
  }
}
